<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApp">
        <activity
            android:name=".views.activities.Auths.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.carts.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.Auths.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.Auths.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.carts.SelectAddressActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.carts.OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.carts.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.Auths.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.Auths.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.carts.cartActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.Product.DetailProductActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>